.color{
    background-color: #2DCD9D;
}

.text-green{
    color: #2DCD9D;
}

.menu{
    text-align: center;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}


li{
    height: 50px;
    text-align: center;
    display: flex; 
    align-items: center; 
}

nav li:hover{
    background-color: #17A97D;
}

#retourConnexion {
    display: none;
}

.nonVisible{
    display:none;
}





    