.color{
    background-color: #2DCD9D;
}

.menu{
    list-style: none;
    margin: auto;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

nav a{
    color: white;
}

nav a :hover{
    background-color: #17A97D;
    color: white;
}